extends layout
block content
  h1 SAMPLE
  h2 jade template demo
  div
    p
      span The variables are "
        strong=var1
      span " and "
        strong=var2
      span ".
      span Input variables is "
        strong=var3
      span ".
