extens layout
block content
  h1 MongoDB Sample
  h2 Add New Data
  form(action='/mongo', method='post')
    input(type='text', name='name')
    input(type='submit',value='Add')
  h2 List
  ul
    each item in list
      li=item.name
